{% extends 'base.html.twig' %}

{% block title %}Les opérations du compte : {{ detailsWallet['financialMovements'][0]['walletId'] }} {% endblock %}

{% block body %}

<section class="pt-md-5">


<h3 class="text-center">Les opérations effectutées sur le compte : {{ detailsWallet['financialMovements'][0]['walletId'] }} <span class="text-success"></span></h3>

    {% if detailsWallet is defined %}

    <table class="table mt-lg-5 mb-lg-5">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">WalletId</th>
            <th scope="col">BookingDate</th>
            <th scope="col">ValueDate</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for detailwallet in detailsWallet['financialMovements'] %}
                 <tr style="background-color: #2C3E50">
                     <td> {{ detailwallet.id }}</td>
                     <td>{{ detailwallet.walletId }}</td>
                     <td>{{ detailwallet.bookingDate|date('Y-m-d-s') }}</td>
                    <td>{{ detailwallet.valueDate|date('Y-m-d-s') }}</td>
                     <td>
                         <p>
                             Amount value :   {{ detailwallet.amount.value }}
                         </p>
                         <p>
                             Amount currency : {{ detailwallet.amount.currency }}
                         </p>
                     </td>
                     <td>
                         {{ detailwallet.description }}
                     </td>

                 </tr>
         {% endfor %}
         </tbody>
    </table>
        {% else %}
        <p class="text-danger">Details Wallet not found</p>
    {% endif %}
</section>
{% endblock %}
