{% extends 'base.html.twig' %}

{% block title %} Liste des comptes{% endblock %}

{% block body %}

<section class="pt-md-5">

<h3 class="text-center"> La liste des comptes</h3>

    {% if wallets is defined %}

    <table class="table mt-lg-5">
        <thead>
        <tr>
            <th scope="col">Id_wallet</th>
            <th scope="col">Tag</th>
            <th scope="col">currency</th>
            <th scope="col">Booking Amount</th>
            <th scope="col">Value Amount</th>
            <th scope="col">Date Last Financial Movement</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        {% for value in wallets %}
            {% for wallet in value %}
                 <tr style="background-color: #2C3E50;color: white">
                    <td ><a href="{{ path('get_details_wallet', {'id': wallet.id}) }}">{{ wallet.id }}</a></td>
                    <td>{{ wallet.tag }}</td>
                    <td>{{ wallet.currency }}</td>
                    <td>{{ wallet.bookingAmount.value }} {{ wallet.bookingAmount.currency }}</td>
                    <td>{{ wallet.valueAmount.value }} {{ wallet.valueAmount.currency }}</td>
                    <td>{{ wallet.dateLastFinancialMovement|date('Y-m-d-s') }}</td>
                    <td><a href="{{ path('get_details_operation', {'id': wallet.id}) }}">Détails operations</a>
                    <td><a href="{{ path('get_details_wallet', {'id': wallet.id}) }}">Détails wallet</a>
                    </td>
                 </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-danger">Wallets not found</p>
    {% endif %}

</section>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">

        require(['jquery'], function ($) {
            $(document).ready(function(){

                          $('.table  tbody tr').click(function(e){
                            //e.stopImmediatePropagation();
                              var getaccId = $(this).closest('tr').find('td').html();
console.log(getaccId);
                            //alert('accId');
                            //alert(getaccId);

                        });
            });
        });
    </script>
{% endblock %}